includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - bin/axonphp
        - site/build.php
        - tools/build-phar.php
        - src
        - tests
